---
---


.highlighter-rouge .highlight{
  background-color: #f6f8fa !important;
  border-color: #d0d7de !important;
}

code{
    background-color: #f6f8fa !important;
}

.site-header{
  border-top:5px solid #e8e8e8;
}

.site-title::before {
  content: url("/assets/phacobook-min.png");
  display: inline-block;
  position: relative;
  width: 70px;
  top: 10px;
}

.site-title{
   color: #001529 !important;
   line-height:64px;
}

.site-nav .page-link{
    color:#001529;
}

p > a > img {
    margin-left: auto;
    display: block;
    margin-right: auto;
}

@media (min-width: 600px) {
  .wrapper{
    max-width:90%;
    width:1920px;
  }
  
.site-title{
   color: #001529 !important;
   font-size: 25px;
  }
}





@media (max-width: 600px) {
  .site-title{
    font-size:23px;
  }
}
